<% layout('boilerplate') -%>

<div class="embed-responsive embed-responsive-4by3">
    <% if(readtype === "qc_qt") { %> 
	  <iframe class="embed-responsive-item" src="/<%= config.get('baseUrl') %>/static/<%= readtype %>/<%= sample %>_read<%= read %>_trimmomatic_<%= read %>PE_fastqc.html"></iframe>
    <% } else { %>
	  <iframe class="embed-responsive-item" src="/<%= config.get('baseUrl') %>/static/<%= readtype %>/<%= sample %>_read<%= read %>_fastqc.html"></iframe>
    <% } %>
</div>


