<% layout('boilerplate') -%>
<h1><%= config.get('baseUrl') %></h1>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="<%= config.get('dashboard') %>"></iframe>
</div>
<br><br>

