<% layout('boilerplate') -%>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="/<%= config.get('baseUrl') %>/static/jbrowse/index.html"></iframe>
</div>
