<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/<%= config.get('baseUrl') %>/static/inspinia/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/<%= config.get('baseUrl') %>/static/inspinia/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/<%= config.get('baseUrl') %>/static/inspinia/css/plugins/toastr/toastr.min.css">
	<link rel="stylesheet" type="text/css" href="/<%= config.get('baseUrl') %>/static/inspinia/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/<%= config.get('baseUrl') %>/static/inspinia/css/style.css">

</head>
