
<!--Inspinia Scripts-->
<script src='/<%= config.get('baseUrl') %>/static/inspinia/js/jquery-2.1.1.js'></script>
<script src='/<%= config.get('baseUrl') %>/static/inspinia/js/bootstrap.min.js'></script>
<script src='/<%= config.get('baseUrl') %>/static/inspinia/js/plugins/metisMenu/jquery.metisMenu.js'></script>
<script src='/<%= config.get('baseUrl') %>/static/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js'></script>
<script src='/<%= config.get('baseUrl') %>/static/inspinia/js/inspinia.js'></script>
<script src='/<%= config.get('baseUrl') %>/static/inspinia/js/plugins/pace/pace.min.js'></script>
