    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"> 
                                <strong class="font-bold">Hello, Researcher!</strong>
                            </span>
                            <span class="text-muted text-xs block">Human</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    CGSB
                </div>
                </li>
                <li>
                <a href="/<%= config.get('baseUrl') %>/home"><i class="fa fa-desktop"></i> <span class="nav-label">Home</span></a>
                </li>
                <li>
                <a href="/<%= config.get('baseUrl') %>/blog/"><i class="fa fa-flask"></i> <span class="nav-label">HPC Reports</span></a>
                </li>
		<li>
			<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Raw FastQC</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<% 
				var samples = config.get('samples');
				for(var i=0; i < samples.length; i++) { %>
				    <li><a href="/<%= config.get('baseUrl') %>/fastqc/qc_raw/<%= samples[i] %>/1"><%= samples[i] %> Read1</a></li>
				    <li><a href="/<%= config.get('baseUrl') %>/fastqc/qc_raw/<%= samples[i] %>/2"><%= samples[i] %> Read2</a></li>
				<% } %>
			</ul>
	        </li>
		<li>
			<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Trimmed FastQC</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level">
				<% 
				var samples = config.get('samples');
				for(var i=0; i < samples.length; i++) { %>
				    <li><a href="/<%= config.get('baseUrl') %>/fastqc/qc_qt/<%= samples[i] %>/1"><%= samples[i] %> Read1</a></li>
				    <li><a href="/<%= config.get('baseUrl') %>/fastqc/qc_qt/<%= samples[i] %>/2"><%= samples[i] %> Read2</a></li>
				<% } %>
			</ul>
	        </li>
                <li>
                <a href="/<%= config.get('baseUrl') %>/python/"><i class="fa fa-table"></i> <span class="nav-label">CBSB Interactive Portal</span></a>
                </li>
            </ul>
        </div>
    </nav>
